{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>{{ album.title }}</h1>
<h1> {{ user.username }} Album</h1>

<div class="row">
    <div class="col-md-8">
        {% for image in album.album_images.title %}
        <h1>hello</h1>
        {{ image }}
        <img src="{{ image.album_image.image.url}}" alt="{{ image.album_image.title }}">
        {% endfor %}

        <div>{{ album.album_set.all() }}</div>
        
    </div>

    <div class="col-md-4">
        <h5>Description:</h5>
        <p>{{ album.album_description }}</p>
        <br>
        <h5>Year:</h5>
        <p>{{ album.album_year }}</p>
    </div>

</div>
{% endblock %}
