{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    {% for post in object_list %}
    <div class="column">

        <h2>{{ post.title }}</h2>
            <img class="photo-active" src="{{ post.image.url}}" alt="{{ post.title }}" onclick="enlargeImage(this);">
    </div>
    {% endfor %}
</div>

<div class="container">
    <!-- Close the image -->
    <div onclick="this.parentElement.style.display='none'" class="closebtn">&times;</div>

    <!-- Expanded image -->
    <img id="expandedImg" 	style="width:100%; height:100%;">>

    <!-- Image text -->
    <div id="imgtext"></div>
</div>

{% endblock %}