{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Memories</h1>
<h1> {{ user.username }} dashboard</h1>
<div class=container>

<div class="row" id="row">
    <div class="col-md-12 col-lg-4">
        <img src="{% static 'images/newmemory.png'  %}" class="img-fluid" alt="Responsive image">
        <h3>Add New Memory</h3>
    </div>
    <div class="col-md-12 col-lg-4">
        <img src="{% static 'images/newmemorybox.png'  %}" class="img-fluid" alt="Responsive image">
    <h3>Create New Memory Box</h3>
    </div>
        <div class="col-md-12 col-lg-4">
            <img src="{% static 'images/boxstack.png'  %}" class="img-fluid" alt="Responsive image">
            <h3>See All Memories</h3>
        </div>
    </div>
</div>


<h1>Albums</h1>
<div class="row">
{% for album in albums %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static 'images/memorybox.png' %}">
            <div class="card-body">
                <h5 class="card-title">{{ album.album_title }}</h5>
                <p class="card-text">{{ album.album_description }}</p>
                <a href="{% url 'album_detail' album.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
