{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class=container>
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
        <div class="container">
            <h1 class="display-1">Memory Box</h1>
            <p class="lead">A place to keep your keepsakes but save the space</p>
        </div>
    </div>

    <!-- Content -->

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="mx-auto" style="width: 300px;">

                <h1 class="text-center">Sign up now to use Memory Box</h1>
                {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <p><a href="{% url 'logout' %}">logout</a></p>
                {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">login</a> |
                <h2>Sign up</h2>
                <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Sign up</button>
                </form>
                 </div>
                {% endif %}
            </div>

            <div>
                <img src="images/shoebox.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>


        <div class="container text-muted">

            <!-- Bottom Info Boxes -->

            <h2 class="display-4 py-5 mt-5 text-center">About Memory Box</h2>

            <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
                <a class="nav-link active" href="#reasoning" data-toggle="tab">The Reasoning</a>
                <a class="nav-link" href="#research" data-toggle="tab">The Research</a>
                <a class="nav-link" href="#how" data-toggle="tab">How It Works</a>
            </nav>

            <div class="tab-content py-5">
                <div class="tab-pane active" id="reasoning">
                    <h3>Why Use Memory Box?</h3>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="tab-pane fade" id="research">
                    <h3>Proven to Save you Space and Time</h3>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="tab-pane fade" id="how">
                    <h3>Get started TODAY</h3>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>

            </div>

        </div>
    </div>

    {% endblock %}